astroid
blinker
Cerberus
cfgv
click
dill
distlib
exceptiongroup
filelock
Flask
flask_cors
flask_openapi3
greenlet
identify
importlib-metadata
iniconfig
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
nodeenv
packaging
platformdirs
pluggy
pre-commit
protobuf
pylint
pytest
PyYAML
SQLAlchemy
tomli
tomlkit
virtualenv
Werkzeug
wrapt
zipp
pydantic
typing-extensions
scikit-learn==1.3.2
pandas
numpy
joblib
nltk
jsonpickle
sqlalchemy_utils

